@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";


html,
body{
   width: 100dvw;
   height: 100dvh;
   overflow: hidden;
   background-image: url("./assets/w2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


@theme {
 --font-ubuntu:"Ubuntu", sans-serif
}